<div class="bien-list">
  <div *ngFor="let bien of biens" class="bien-item">
    <div class="bien-header">
      <h3>{{ bien.commune }} - {{ bien.rue }}</h3>
    </div>
    <div class="bien-details">
      <ul>
        <!-- Informations principales -->
        <li><strong>Commune :</strong> {{ bien.commune }}</li>
        <li><strong>Rue :</strong> {{ bien.rue }}</li>
        <li><strong>Nombre de chambres :</strong> {{ bien.nbChambres }}</li>
        <li><strong>Prix par nuit :</strong> {{ bien.prixNuit }} €</li>
      </ul>
      <button class="btn-details" (click)="afficherDetailsSupplementaires = !afficherDetailsSupplementaires">
        {{ afficherDetailsSupplementaires ? '-' : '+' }}
      </button>
      <ng-container *ngIf="afficherDetailsSupplementaires">
        <ul>
          <!-- Informations supplémentaires -->
          <li><strong>Adresse e-mail du propriétaire :</strong> {{ bien.mailProprio }}</li>
          <li><strong>Code postal :</strong> {{ bien.cp }}</li>
          <li><strong>Distance :</strong> {{ bien.distance }} km</li>
          <li><strong>Nombre de couchages :</strong> {{ bien.nbCouchages }}</li>
          <!-- Ajoutez d'autres informations supplémentaires ici -->
        </ul>
        <button class="btn-reservation" (click)="reserverBien(bien)">Réserver</button>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showReservationModal">
  <div class="modal-content">
    <span class="close-button" (click)="showReservationModal = false">&times;</span>
    <h2>Réservation</h2>
    <input type="text" placeholder="Mail du loueur" [(ngModel)]="mailLoueur" />
    <input type="date" placeholder="Date de début" [(ngModel)]="dateDebut" />
    <input type="date" placeholder="Date de fin" [(ngModel)]="dateFin" />
    <button (click)="enregistrerReservation(); showReservationModal = false">Enregistrer la réservation</button>
  </div>
</div>
