<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AirB&B</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <header>
    <h1>Mon Site Web</h1>
  </header>

  <main>
    <h1>Helllllloooo AD</h1>
    <app-nav-bar></app-nav-bar>

    <!-- Affichage dynamique -->
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2024 Tous droits réservés.</p>
  </footer>
</body>
</html>
